<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772196608144-ougr6nilgejsd66u0rjri60ll4dhqbso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772196608144-ougr6nilgejsd66u0rjri60ll4dhqbso</string>
	<key>API_KEY</key>
	<string>AIzaSyAGmJRxWSfKxGL-boLT0-FKNJIsrNS_78Q</string>
	<key>GCM_SENDER_ID</key>
	<string>772196608144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chloeprezelski.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>workout-18eec</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-18eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772196608144:ios:aff191c1f2e6ba83f89015</string>
	<key>DATABASE_URL</key>
	<string>https://workout-18eec.firebaseio.com</string>
</dict>
</plist>